<h1><%=@guest.name%></h1>
<h4>As featured in Daily Show episodes:</h4>
<ul>
    <% @guest.appearances.each do |appearance|%>
        <li>Date: <%= link_to appearance.episode.date.strftime("%B %d, %Y"), episode_path(appearance.episode) %>, Rating: <%= appearance.rating%></li>
    <% end %>
</ul>