<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
  <%= link_to "Episode #{episode.number}, aired #{episode.date.strftime("%B %d, %Y")}", episode_path(episode) %> <br> 
  <% end %>
</ul>
