<h1>The Daily Show</h1>
<h3>Date: <%= @episode.date.strftime("%B %d, %Y")%></h3>
<h4>With Special Guests:</h4>
<ul>
    <% @episode.appearances.sort_by{|episode| episode[:rating]}.reverse.each do |appearance|%>
        <li><%= link_to appearance.guest.name, guest_path(appearance.guest) %>, Rating: <%= appearance.rating%></li>
    <% end %>
</ul>

